.nav-link {
  border-radius: 31px;
  border-style: none;
  font-weight: bold;
}

.nav-link:hover {
  background: blue;
  color: red;
  font-weight: bold;
}

.btn {
  border-radius: 71px;
  font-weight: bold;
  background: #ebebf4;
  box-shadow: 12px -12px 24px #a0a0a6, -12px 12px 24px #ffffff;
  padding: 12px;
  font-family: 'Raleway', sans-serif;
  border-style: none;
}

.btn:hover {
  box-shadow: inset 12px -12px 24px #a0a0a6, inset -12px 12px 24px #ffffff;
  font-size: 14px;
  transition-duration: 3s;
  transition-delay: 1s;
}

.btn:active {
  color: blue;
}

.activity {
  border-radius: 51px;
  box-shadow: 5px 8px 8px #cacad2, -5px 5px 8px #ffffff;
  border-style: none;

}

.activity:hover {
  background: #a3acef;
  box-shadow: inset 7px -7px 14px #9b9ba1, inset -7px 7px 14px #ffffff;
}

.activity:active {
  color: red;
  font-weight: bold;

}